.address {
  margin: 0;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.city {
  font-size: var(--font-size-sm);
  color: var(--gray-500);
}

.area {
  display: inline-block;
  margin-right: 10px;
  border-right: 1px solid var(--gray-900);
  padding-right: 10px;
  line-height: 0.9;
}
