.list_container {
  height: calc(100vh - 61px);
}

.list {
  padding-bottom: var(--space-md);
  outline: none;
}

.items_wrap {
  display: flex;
  max-width: 1200px;
  margin: auto;
}

@media (max-width: 767px) {
  .items_wrap {
    justify-content: center;
  }
}

@media (min-width: 768px) {
  .items_wrap {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .list_container {
    height: calc(100vh - 80px);
  }

  .items_wrap {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .items_wrap {
    max-width: 1080px;
  }
}
