.item {
  flex: 0 0 500px;
  margin-top: var(--space-md);
  padding: 0 var(--space-sm);
}

.item_image {
  height: 250px;
  object-fit: cover;
  max-width: 100%;
}

/* @media (min-width: 768px) {
  .item {
    flex: 0 0 360px;
  }
}

@media (min-width: 992px) {
  .item {
    flex: 0 0 320px;
  }
}

@media (min-width: 1200px) {
  .item {
    flex: 0 0 360px;
  }
} */
