.item {
  flex: 0 0 90%;
  margin-top: var(--space-md);
  padding: 0 var(--space-sm);
}

.image_wrap {
  position: relative;
}

.price {
  position: absolute;
  left: var(--space-xs);
  top: var(--space-xs);
  background-color: var(--gray-900);
  padding: 2px 6px;
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-bold);
  color: white;
  transition: background-color 0.3s ease;
}

.image {
  display: block;
  height: 230px;
  object-fit: cover;
  width: 100%;
}

.text {
  background-color: white;
  padding: var(--space-sm);
}

.address {
  font-size: 1rem;
  margin: 0;
  transition: color 0.3s ease;
}

.city {
  font-size: var(--font-size-sm);
  color: var(--gray-500);
}

.area {
  display: inline-block;
  border-right: 1px solid var(--gray-900);
  padding-right: 10px;
  margin-right: 10px;
  line-height: 0.9;
}

.item_link {
  text-decoration: none;
}

.item_link:hover,
.item_link:focus,
.item_link:active {
  text-decoration: none;
}

.item_link:hover .address {
  color: var(--color-pink);
}

.item_link:hover .price {
  background-color: var(--color-pink);
}

@media (min-width: 768px) {
  .item {
    flex: 0 0 330px;
  }
}

@media (min-width: 992px) {
  .item {
    flex: 0 0 290px;
  }
}

@media (min-width: 1200px) {
  .item {
    flex: 0 0 330px;
  }
}
